Node-RED-boilerplate.json
[{"id":"97f77337.5a456","type":"http in","z":"5a8c5b83.5c80c4","name":"","url":"/nrdt","method":"post","swaggerDoc":"","x":121,"y":137,"wires":[["47d3b007.0eb25"]]},{"id":"47d3b007.0eb25","type":"function","z":"5a8c5b83.5c80c4","name":"Human Input","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":117,"wires":[["5f23a7a1.8e8c18"]]},{"id":"5f23a7a1.8e8c18","type":"watson-conversation-v1","z":"5a8c5b83.5c80c4","name":"","workspaceid":"81c37e36-2063-4b86-9bdf-2bc417aaf4ff","multiuser":false,"context":false,"x":600,"y":100,"wires":[["1956e606.a1e1ba"]]},{"id":"1956e606.a1e1ba","type":"function","z":"5a8c5b83.5c80c4","name":"Watson Output","func":"msg.payload = \"Watson: \"+msg.payload.output.text[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":610,"y":297,"wires":[["20a95d64.fb0282"]]},{"id":"20a95d64.fb0282","type":"http response","z":"5a8c5b83.5c80c4","name":"","x":694,"y":401,"wires":[]}]